@media only screen and (max-width : 540px)
            {
                .chat-sidebar
                {
                    display: none !important;
                }
               
                .chat-popup
                {
                    display: none !important;
                }
            }
           
            body
            {
                background-color: #dadada;
               
            }
            
           
                    
            .chat-sidebar {
                width: 250px;
                position: fixed;
                height: 100%;
                right: 25px;
                top: 75px;
                padding-top: 0px;
                padding-bottom: 0px;
                padding-right: 0px;
                border-style: solid;
                margin-top:8px;
                margin-right:8px;
                border: none;
                margin-bottom:8px;
                background-color:  #f1f1f1;
                opacity:.85;
            }
                        
        .tab button {
  background-color: inherit;
  float: left;
  width: 125px;
  height: 50px;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: DodgerBlue;
}

.tab button.active {
  background-color: DodgerBlue;
}
    
    .groupButton {
                color: black !important;
                text-transform: uppercase;
                text-decoration: none;
                background:  #f1f1f1;
                padding: 10px;
                width: 250px;
                height: 75px;
                border-radius: 0px;
                border:none;
                transition: all 0.4s ease 0s;
            }
  
             .createGroupButton {
                color: white !important;
                text-transform: uppercase;
                text-decoration: none;
                background: DodgerBlue;
                padding: 20px;
                width: 150px;
                border: 2px solid Black;
                border-radius: 25px;
                align: left;
                transition: all 0.4s ease 0s;
            }

             .groupButton:hover {
                color: white !important;
                text-transform: uppercase;
                text-decoration: none;
                background: DodgerBlue;
                padding: 20px;
                width: 150px;
               border: 2px solid Black;
                border-radius: 25px;
                align: right;
                transition: all 0.4s ease 0s;
            }
            .groupNameText {
                padding-top: 5px;
                color: black;
                font-weight: bold;
                font-size: 16px;
                opacity:.90;
                text-decoration:none;
            }
            .cancelGroupButton {
                color: white !important;
                text-transform: uppercase;
                text-decoration: none;
                background: DodgerBlue;
                padding: 20px;
                width: 150px;
               border: 2px solid Black;
                border-radius: 25px;
                align: right;
                transition: all 0.4s ease 0s;
            }
            .cancelGroupButton:hover {
                opacity: .75;
                color:white;
                cursor: pointer;
            }
            .groupButtons {
               position: absolute;
               bottom:20px;
               padding-left:50px;
            }
            .groupCheckboxes {
                height: 100px;
                overflow: auto;
            }
            .membercheckboxes {
                height: 375px;
                overflow: auto;
            }
            .createGroupUI {
                background-color: #FFFFFF;
                position:relative;
                width: 400px;
                height: 300px;
                margin: 7em auto;
                border-radius: 1.5em;
                z-index: 100;
                padding-top:10px;
                box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
            }
            
    

    .group-sidebar {
        width: 250px;
        position: fixed;
        height: 100%;
        right: 25px;
        top: 75px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        border-style: solid;
        margin-top:8px;
        margin-right:8px;
        border: none;
        margin-bottom:8px;
        background-color:  #f1f1f1;
        opacity:.85;
            }
    
  


           
            .sidebar-name {
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 4px;
                font-size: 12px;
            }
           
            .sidebar-name span{
                padding-left: 5px;
            }
           
            .sidebar-name a{
                display: block;
                height: 100%;
                text-decoration: none;
                color: inherit;
            }
           
            .sidebar-name:hover{
                background-color:#e1e2e5;
            }
           .messageBox {
            width: 225px;
            color: rgb(38, 50, 56);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            background: white;          
            border-radius: 4px;
            outline: none;
            box-sizing: border-box;
            border: 2px solid black;
            text-align: center;
            font-family: 'Ubuntu', sans-serif;
    
            
            }

            .sidebar-name img{
                width: 32px;
                height: 32px;
                vertical-align:middle;
            }
           
            .popup-box {
                display: none;
                position: fixed;
                bottom: 0px;
                right: 220px;
                height: 285px;
                background-color: rgb(237, 239, 244);
                width: 300px;
                border: 1px solid rgba(29, 49, 91, .3);
            }
           
            .popup-box .popup-head
            {
                background-color: #6d84b4;
                padding: 5px;
                color: white;
                font-weight: bold;
                font-size: 14px;
                clear: both;
            }
           
            .popup-box .popup-head .popup-head-left
            {
                float: left;
            }
        
            .userButton {
                color: black !important;
                text-transform: uppercase;
                text-decoration: none;
                background:  #f1f1f1;
                padding: 10px;
                width: 250px;
                height: 75px;
                border-radius: 0px;
                border: none;
                transition: all 0.4s ease 0s;
            }
            
            .userButton:hover {
                color: black !important;
                font-weight: 700 !important;
                letter-spacing: 3px;
                border: none;
                background-color:  DodgerBlue;
                -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
                -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
                transition: all 0.3s ease 0s;
            }
            .popup-box .popup-head .popup-head-right
            {
                float: right;
                opacity: 0.5;
            }
           
            .popup-box .popup-head .popup-head-right a
            {
                text-decoration: none;
                color: inherit;
            }
           
            .popup-box .popup-messages
            {
                height: 100%;
                overflow-y: scroll;
            }
.bottomleft {
     position: absolute;
     bottom: 8px;
     left: 16px;
     font-size: 18px;
}
      
.topleft {
  position: absolute;
  top: 100px;
  left: 16px;
  font-size: 18px;
}
    p {
  text-align: center;
  color: black;}

p2{
    color:red;
}
    
      .signInText {
        padding-top: 40px;
        color: black;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 35px;
        opacity:.90;
        text-decoration:none;
        font:100px;
    }
       .registerText {
        padding-top: 40px;
        color: black;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 35px;
        opacity:.90;
        text-decoration:none;
        font:100px;
    }
         .loginStatus {
        color: black;
        font-size: 18px;
        vertical-align: center;
        text-align: center;
        align: center;
    }
             .typingStatus {
        color: black;
        font-size: 18px;
        vertical-align: left;
        text-align: left;
        align: left;
    }
  
         .createAccount {
        color: Black;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 23px;
        font:75px;
    }
    

    
        .appHeader {
       text-align:center;
       font-size: 36px;
       color:Black;
       opacity:.85;
       border-radius:20px;
       border-color: white;   
       border: 2px solid Black;  
       width: 75%;
       background: DodgerBlue; 

    }
        .mainLogin {
        background-color: #FFFFFF;
        border: 4px solid Black;
        width: 400px;
        height: 440px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
           .mainRegister {
        background-color: #FFFFFF;
        border: 4px solid Black;
        width: 400px;
        height: 440px;
        margin: 7em auto;
        border-radius: 1.5em;
        padding: 10px 20px;
        padding-top: 20px;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
    
        .loginText {
            width: 76%;
            color: rgb(38, 50, 56);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            background: DodgerBlue;
           
            border: none;
            border-radius: 20px;
            outline: none;
            box-sizing: border-box;
            border: 2px solid black;
            margin-bottom: 50px;
            margin-left: 46px;
            text-align: center;
            margin-bottom: 27px;
            font-family: 'Ubuntu', sans-serif;
        }

.loginButton {
    background-color: DodgerBlue;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    left: 150px;
    width: 100px;
    border: 2px solid Black;
    font-size: 25px;
}
.loginButton:hover {
   opacity: .75;
   color:white;
}


.button { 
    border: none;
    font-size: 14px;
    color:white;
    border-radius: 2px;
    border: 2px solid Black;
    background: DodgerBlue;
}
.button:hover {
   opacity: .75;
   color:white;

}

.tab {
    width: 250px;
    position: fixed;
    height: 50px;
    right: 25px;
    margin-right: 8px;
    top: 33px;
    overflow: hidden;
    border: none;
    background-color: #f1f1f1;
}
p.solid {border-style: solid;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px;
}

.container {
  width: 275px;
  height: 275px;
  border: 3px solid Black;
  background-color: DodgerBlue;
  border-radius: 5px;
  padding: 10px;
  margin: 0px ;
  overflow: auto;
}